.ulDienstleistungen {
    line-height: 200%;
    margin-bottom: 4em;
}

.flex {
    display: flex;
    flex-direction: row;
    margin-bottom: 5em;
}

#kfzInnung {
    margin-left: 4em;
    height: 15em;
}

#motorhaube {
    height: 15em;
}

.full-height {
    min-height: calc(100vh - 245px);
}

@media only screen and (max-width: 845px) {
    .flex {
        display: flex;
        flex-direction: column;
    }

    #kfzInnung {
        height: 10em;
        margin-top: 1em;
        margin-left: auto;
        margin-right: auto;
    }

    #motorhaube {
        height: 10em;
        margin-left: auto;
        margin-right: auto;
    }
}