#yareto {
    width: 9.62em;
    height: 3em;
}

#meneks {
    width: 18.82em;
    height: 3em;
}

a {
    color: #4e7de9;
}

@media only screen and (max-width: 768px) {
    #yareto {
        width: 80%;
        height: 80%;
    }

    #meneks {
        width: 80%;
        height: 80%;
    }
}